---
title: Kesley &amp; Kurt 2017
---
<aside role="complentary" class="page__aside">
  <span class="slider__border slider__border__item-1"></span>
  <span class="slider__border slider__border__item-2"></span>
  <span class="slider__border slider__border__item-3"></span>
  <ul id="slideshow" class="page__aside__slider">
    <% data.slider.slider_image.each do |i| %>
      <li class="page__aside__slider-item">
        <%= image_tag i.img, alt: i.alt %>
      </li>
    <% end %>
  </ul>
</aside>
<section role="region" aria-labelledby="kurt-and-kesley-2017" class="page__section">
  <header role="heading" class="page__section__content">
    <time id="countdown" class="label"></time>
    <h1 id="kurt-and-kesley-2017">Kesley Zahn + Kurt Cunningham are happy to announce their  marriage on <span class="text-highlight--primary">October 6, 2017</span>.</h1>
    <p class="paragraph-width">After a decade in the making it's finally happening and we couldn't be more excited! We can't wait to celebrate our big day with all of you. Please find neccassary information for the events and locations below. We will be updating our site regularly so check back now and then or just reach out if you need us. <i>#officiallykcunni</i></p>
  </header>
  <div class="page__section__content">
    <header role="heading">
      <label>Important Dates</label>
    </header>
    <div class="background--blue-base card card--right">
      <ul class="info-list">
        <% data.dates.important_dates.each do |d| %>
          <li class="info-item info-item--border-blue">
            <h5 class="title"><%= d.title %></h5>
            <ul class="info-sublist">
              <% d.details.each do |i| %>
                <li class="info-sublist-item"><%= i.detail %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="page__section__content">
    <header role="heading">
      <label>Places To Note</label>
    </header>
    <ul class="data-list">
      <% data.places.place.each do |p| %>
        <li class="data-item">
          <%= image_tag p.img, alt: p.alt %>
          <div class="data-item__content center__parent">
            <div class="center__child--vert">
              <h4 class="title margin-bottom--echo"><%= p.title %></h4>
              <ul class="data-sublist">
                <li><%= p.address %></li>
                <li>
                  <%= p.details[0].detail %>
                  | <%= link_to 'Directions', p.details[1].detail %>
                  <% if p.details[2].detail %>
                    | <%= p.details[2].detail %>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="page__section__content">
    <header role="heading">
      <label>About The Couple</label>
    </header>
    <div class="background--grey-base card card--left">
      <p class="paragraph-width--large">Just how did a girl from the suburbs of Chicago and a boy from the cornfields of Iowa find each other? It didn't take much effort, really. It just took one rainy day, several college campus visits and the Old Capital at the University of Iowa to put them in the same state. Read the story of how they met and fell in love in their own words.</p>
      <div class="margin-top--bravo">
        <h4 class="title margin-bottom--delta">The Bride</h4>
        <p class="paragraph-width--large">Finding a college wasn’t easy for me. My family was frustrated because I didn’t like any of the schools I visited and it was coming down to crunch time. I was incredibly nervous that my name wasn’t going to be featured on the college map in my high school newspaper.</p>
        <p class="paragraph-width--large">In April of 2006 I decided to visit the University of Iowa on a whim. I didn’t think I could possibly love a school in the middle of a cornfield. That changed when we drove up to the beautiful Iowa campus. Despite the pouring rain and completely overcast skies, I said, “This feels like home. I’m going here.” I think my dad did a little dance in his head when I said that.</p>
        <p class="paragraph-width--large">Freshman year of college was one of the best years of my life. I joined a sorority and loved my major – Journalism. I didn’t think things could possibly get any better until I found out my favorite band, Jack’s Mannequin, was playing a show on campus. In order to attend the show you had to do 10 hours of community service.</p>
        <p class="paragraph-width--large">During this time period I met a cute boy who lived in my dorm room and had the same journalism classes as me. He happened to love Jack’s Mannequin and wanted to do the community service with me. Perfect! His name was Kurt. Kurt was always “borrowing” my homework (even though I would later come to find out he had already done the homework and just wanted an excuse to talk to me) and teasing me for reading my favorite magazine “Us Weekly.” He also wore black Converse sneakers. Definitely my type!</p>
        <p class="paragraph-width--large">We kicked off the community service at an elementary school in Iowa City. Kurt was so great with the kids, which made me like him even more. After about a month of me playing hard to get and Kurt dubbing me - “pretty girl”, we started dating. From summers in Iowa to starting a life together in Chicago, the past 10 years have been the best years of my life.</p>
        <p class="paragraph-width--large">We are FINALLY getting married and I couldn’t be more excited to make it official! Choosing Iowa was hands down THE best decisions of my life because it led me to my Kurt.</p>
      </div>
      <div class="margin-top--bravo">
        <h4 class="title margin-bottom--delta">The Groom</h4>
        <p class="paragraph-width--large">As a boy growing up in Iowa I knew of only one school I would attend upon high school graduation. It's the only school worth attending in Iowa - no I'm not joking friends from Iowa State. In fact, I wanted to go so bad I didn't even apply to another school and my mom had to drag me to an on-campus visit to confirm what I had already explained to her.</p>
        <p class="paragraph-width--large">It wasn't until the spring of my freshman year that I met Kesley for the first time. I remember seeing her in my dorm room hallway one random night and thought, "She's <i>pretty</i> good looking". I asked a mutual friend who she was and what I needed to know about her. One fact stood out. She liked the band <a href="spotify:artist:42aeGx2I3uXINpGqC8L0LD" target="_blank">Jack's Mannequin</a>.</p>
        <p class="paragraph-width--large">It just so happened that that spring an on-campus organization, 10,000 Hours, was sponsoring a free concert for students who completed 10 hours of community service. The featured band: Jack's Mannequin. It didn't take much effort to convince Kesley to volunteer with me.</p>
        <p class="paragraph-width--large">I'm not sure what it was about those 10 hours of communinty service, but some how that kick started our amazing 10 year relationship. I'm truly lucky to have found Kesley and can't be more excited to marry her.</p>
      </div>
    </div>
  </div>
  <div class="page__section__content">
    <header role="heading">
      <label>Wedding Registry</label>
    </header>
    <ul class="data-list">
      <% data.registry.registry.each do |r| %>
        <li class="data-item">
          <%= image_tag r.img, alt: r.alt %>
          <div class="data-item__content center__parent">
            <div class="center__child--vert">
              <h4 class="title margin-bottom--echo"><%= r.title %></h4>
              <ul class="data-sublist">
                <li>
                  <% if r.url %>
                    <%= link_to 'View Registry', r.url, target: '_blank' %>
                  <% else %>
                    Link Coming Soon
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <footer role="contentinfo">
    <div class="text--center">
      <%= image_tag 'misc/rings.svg', alt: 'Rings icon' %>
      <p>
        <small class="text--uppercase">Kesley + Kurt 2017</small><br/>
        <small><i>#officiallykcunni</i></small>
      </p>
    </div>
  </footer>
</section>